In [27]:
#importing the Libraies
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [28]:
print(np.__version__)

1.26.4

In [29]:
# Reading the Dataset
dataset = pd.read_csv('Social_Network_Ads.csv')

In [30]:
dataset.head(133)

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
128  15722758    Male   30            17000          0
129  15792102  Female   26            84000          0
130  15675185    Male   31            58000          0
131  15801247    Male   33            31000          0
132  15725660    Male   30            87000          0

[133 rows x 5 columns]

In [31]:
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [32]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [33]:
dataset
dataset=dataset.replace({True: 1,False: 0})
dataset

      User ID  Age  EstimatedSalary  Purchased  Gender_Male
0    15624510   19            19000          0            1
1    15810944   35            20000          0            1
2    15668575   26            43000          0            0
3    15603246   27            57000          0            0
4    15804002   19            76000          0            1
..        ...  ...              ...        ...          ...
395  15691863   46            41000          1            0
396  15706071   51            23000          1            1
397  15654296   50            20000          1            0
398  15755018   36            33000          0            1
399  15594041   49            36000          1            0

[400 rows x 5 columns]

In [34]:
indep=dataset[['Age', 'EstimatedSalary','Gender_Male']]
dep=dataset['Purchased']

In [35]:
#split into training set and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(indep, dep, test_size = 1/3, random_state = 0)

In [36]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train_= sc.fit_transform(X_train)
X_test_= sc.transform(X_test)

In [37]:
from sklearn.ensemble import RandomForestClassifier

In [38]:
#https://scikit-learn.org/stable/modules/model_evaluation.html#scoring-parameter

In [39]:
from sklearn.model_selection import GridSearchCV

param_grid = {'criterion':['gini','entropy'],
              'max_features': ['auto','sqrt','log2'],
              'n_estimators':[10,100]} 



grid = GridSearchCV(RandomForestClassifier(), param_grid, refit = True, verbose = 3,n_jobs=-1,scoring='f1') 
   
# fitting the model for grid search 
grid.fit(X_train_, y_train)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

GridSearchCV(estimator=RandomForestClassifier(), n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             scoring='f1', verbose=3)

In [40]:
# print best parameter after tuning 
#print(grid.best_params_) 
re=grid.cv_results_
#print(re)
grid_predictions = grid.predict(X_test_) 
   

from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, grid_predictions)



# print classification report 
from sklearn.metrics import classification_report
clf_report = classification_report(y_test, grid_predictions)

In [41]:
print(grid.best_params_)

{'criterion': 'gini', 'max_features': 'log2', 'n_estimators': 100}

In [42]:
table=pd.DataFrame.from_dict(re)

In [43]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.093728,0.000000,0.000000,0.000000,gini,auto,10,"{'criterion': 'gini', 'max_features': 'auto', ...",0.764706,0.842105,0.780488,0.871795,0.857143,0.823247,0.042701,10
1,0.348508,0.018739,0.018759,0.006247,gini,auto,100,"{'criterion': 'gini', 'max_features': 'auto', ...",0.800000,0.850000,0.809524,0.900000,0.923077,0.856520,0.048510,2
2,0.033045,0.002294,0.009212,0.005959,gini,sqrt,10,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.800000,0.810811,0.790698,0.837209,0.800000,0.807744,0.016051,11
3,0.304469,0.010244,0.018752,0.006251,gini,sqrt,100,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.727273,0.871795,0.809524,0.900000,0.923077,0.846334,0.070638,6
4,0.034376,0.006250,0.003125,0.006250,gini,log2,10,"{'criterion': 'gini', 'max_features': 'log2', ...",0.787879,0.800000,0.790698,0.871795,0.972973,0.844669,0.071177,7
5,0.304422,0.006251,0.028129,0.006252,gini,log2,100,"{'criterion': 'gini', 'max_features': 'log2', ...",0.800000,0.871795,0.809524,0.900000,0.923077,0.860879,0.048707,1
6,0.035307,0.004405,0.010380,0.006621,entropy,auto,10,"{'criterion': 'entropy', 'max_features': 'auto...",0.645161,0.756757,0.809524,0.864865,0.864865,0.788234,0.082047,12
7,0.318751,0.007652,0.021294,0.007005,entropy,auto,100,"{'criterion': 'entropy', 'max_features': 'auto...",0.764706,0.842105,0.809524,0.926829,0.923077,0.853248,0.063507,4
8,0.034374,0.006252,0.000000,0.000000,entropy,sqrt,10,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.833333,0.810811,0.717949,0.871795,0.888889,0.824555,0.060002,9
9,0.299340,0.006248,0.025001,0.007654,entropy,sqrt,100,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.800000,0.810811,0.809524,0.900000,0.923077,0.848682,0.051972,5
10,0.031988,0.006327,0.005023,0.005765,entropy,log2,10,"{'criterion': 'entropy', 'max_features': 'log2...",0.727273,0.833333,0.761905,0.894737,0.918919,0.827233,0.073838,8
11,0.253621,0.006079,0.009375,0.007655,entropy,log2,100,"{'criterion': 'entropy', 'max_features': 'log2...",0.800000,0.810811,0.809524,0.900000,0.947368,0.853541,0.059316,3

In [44]:

from sklearn.metrics import f1_score
f1_macro=f1_score(y_test,grid_predictions,average='weighted')
print("The f1_macro value for best parameter {}:".format(grid.best_params_),f1_macro)

The f1_macro value for best parameter {'criterion': 'gini', 'max_features': 'log2', 'n_estimators': 100}: 0.9183922682195829

In [45]:
print("The confusion Matrix:\n",cm)

The confusion Matrix:
 [[78  7]
 [ 4 45]]

In [46]:
print("The report:\n",clf_report)

The report:
               precision    recall  f1-score   support

           0       0.95      0.92      0.93        85
           1       0.87      0.92      0.89        49

    accuracy                           0.92       134
   macro avg       0.91      0.92      0.91       134
weighted avg       0.92      0.92      0.92       134

In [47]:
table_pr=pd.DataFrame()

In [48]:
print(X_test)

     Age  EstimatedSalary  Gender_Male
132   30            87000            1
309   38            50000            0
341   35            75000            1
196   30            79000            0
246   35            50000            0
..   ...              ...          ...
168   29           148000            1
150   26            15000            0
393   60            42000            1
66    24            19000            1
240   42           149000            1

[134 rows x 3 columns]

In [49]:
table_pr['Age']=X_test["Age"]
table_pr['Gender_male']=X_test["Gender_Male"]
table_pr['Estimated_Salary']=X_test["EstimatedSalary"]
table_pr['Actual']=y_test
table_pr['Predicted']=grid_predictions

In [50]:
table_pr.head(134)

     Age  Gender_male  Estimated_Salary  Actual  Predicted
132   30            1             87000       0          0
309   38            0             50000       0          0
341   35            1             75000       0          0
196   30            0             79000       0          0
246   35            0             50000       0          0
..   ...          ...               ...     ...        ...
168   29            1            148000       1          1
150   26            0             15000       0          0
393   60            1             42000       1          1
66    24            1             19000       0          0
240   42            1            149000       1          1

[134 rows x 5 columns]

In [51]:
table_pr.to_csv("cm.csv",index=False)

In [52]:
dataset['Predicted']=grid_predictions

ValueError: Length of values (134) does not match length of index (400)

In [53]:
Age=float(input("Age:"))
EstimatedSalary=float(input("Estimated_Salary:"))
Gender_Male=int(input("Sex Male 1 or 0:"))

Age: 40
Estimated_Salary: 2000
Sex Male 1 or 0: 0

In [54]:
Future_Prediction=grid.predict([[Age,EstimatedSalary,Gender_Male]])# change the paramter,play with it.
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[1]