In [1]:
#importing the Libraies
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
print(np.__version__)

1.26.4

In [3]:
# Reading the Dataset
dataset = pd.read_csv('CKD.csv')

In [4]:
dataset.head(133)

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,2.0,76.459948,c,3.0,0.0,normal,abnormal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,yes,no,yes
1,3.0,76.459948,c,2.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,34.000000,12300.000000,4.705597,no,no,no,yes,poor,no,yes
2,4.0,76.459948,a,1.0,0.0,normal,normal,notpresent,notpresent,99.000000,...,34.000000,8408.191126,4.705597,no,no,no,yes,poor,no,yes
3,5.0,76.459948,d,1.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,poor,yes,yes
4,5.0,50.000000,c,0.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,36.000000,12400.000000,4.705597,no,no,no,yes,poor,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,46.0,80.000000,c,0.0,0.0,normal,normal,notpresent,notpresent,160.000000,...,27.000000,8100.000000,3.200000,yes,no,no,poor,poor,yes,yes
129,46.0,110.000000,d,0.0,0.0,normal,normal,notpresent,notpresent,130.000000,...,38.868902,8408.191126,4.705597,no,no,no,yes,poor,no,yes
130,46.0,60.000000,b,0.0,0.0,normal,normal,notpresent,notpresent,123.000000,...,50.000000,6300.000000,4.800000,no,no,no,yes,poor,no,no
131,46.0,60.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,102.000000,...,44.000000,11000.000000,5.400000,no,no,no,yes,poor,no,no
132,46.0,70.000000,b,0.0,0.0,normal,normal,notpresent,notpresent,100.000000,...,43.000000,5700.000000,6.500000,no,no,no,yes,poor,no,no

In [5]:
dataset

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,2.000000,76.459948,c,3.0,0.0,normal,abnormal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,yes,no,yes
1,3.000000,76.459948,c,2.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,34.000000,12300.000000,4.705597,no,no,no,yes,poor,no,yes
2,4.000000,76.459948,a,1.0,0.0,normal,normal,notpresent,notpresent,99.000000,...,34.000000,8408.191126,4.705597,no,no,no,yes,poor,no,yes
3,5.000000,76.459948,d,1.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,poor,yes,yes
4,5.000000,50.000000,c,0.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,36.000000,12400.000000,4.705597,no,no,no,yes,poor,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,219.000000,...,37.000000,9800.000000,4.400000,no,no,no,yes,poor,no,yes
395,51.492308,70.000000,c,0.0,2.0,normal,normal,notpresent,notpresent,220.000000,...,27.000000,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
396,51.492308,70.000000,c,3.0,0.0,normal,normal,notpresent,notpresent,110.000000,...,26.000000,9200.000000,3.400000,yes,yes,no,poor,poor,no,yes
397,51.492308,90.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,207.000000,...,38.868902,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
398,51.492308,80.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,100.000000,...,53.000000,8500.000000,4.900000,no,no,no,yes,poor,no,no

In [6]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [7]:
dataset
dataset=dataset.replace({True: 1,False: 0})
dataset

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes,classification_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,0,0,0,0,0,0,1,1,0,1
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,0,0,0,0,0,1,0,0,1
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,0,0,0,0,0,1,0,0,1
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,0,0,0,0,0,1,0,1,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,0,0,0,0,0,1,0,0,1
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,0,0,1,1,0,1,0,1,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,0,0,1,1,0,0,0,0,1
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,0,0,1,1,0,1,0,1,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,0,0,0,0,0,1,0,0,0

In [9]:
indep=dataset[['age', 'bp','al','su','bgr','bu','sc','sod','pot','hrmo','rbc_normal','pc_normal','pcc_present','ba_present','pcv','wc','rc','htn_yes','dm_yes','cad_yes','appet_yes','pe_yes','ane_yes']]
dep=dataset['classification_yes']

In [10]:
#split into training set and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(indep, dep, test_size = 1/3, random_state = 0)

In [11]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train_= sc.fit_transform(X_train)
X_test_= sc.transform(X_test)

In [12]:
from sklearn.ensemble import RandomForestClassifier

In [13]:
#https://scikit-learn.org/stable/modules/model_evaluation.html#scoring-parameter

In [14]:
from sklearn.model_selection import GridSearchCV

param_grid = {'criterion':['gini','entropy'],
              'max_features': ['auto','sqrt','log2'],
              'n_estimators':[10,100]} 



grid = GridSearchCV(RandomForestClassifier(), param_grid, refit = True, verbose = 3,n_jobs=-1,scoring='f1') 
   
# fitting the model for grid search 
grid.fit(X_train_, y_train)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

GridSearchCV(estimator=RandomForestClassifier(), n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             scoring='f1', verbose=3)

In [15]:
# print best parameter after tuning 
#print(grid.best_params_) 
re=grid.cv_results_
#print(re)
grid_predictions = grid.predict(X_test_) 
   

from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, grid_predictions)



# print classification report 
from sklearn.metrics import classification_report
clf_report = classification_report(y_test, grid_predictions)

In [16]:
print(grid.best_params_)

{'criterion': 'gini', 'max_features': 'sqrt', 'n_estimators': 100}

In [17]:
table=pd.DataFrame.from_dict(re)

In [18]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.092427,0.009071,0.009388,0.007665,gini,auto,10,"{'criterion': 'gini', 'max_features': 'auto', ...",0.955224,0.971429,0.935484,0.985075,0.969697,0.963382,0.016853,12
1,0.439741,0.023390,0.037682,0.007710,gini,auto,100,"{'criterion': 'gini', 'max_features': 'auto', ...",0.985075,0.957746,0.968750,0.985075,1.000000,0.979329,0.014636,4
2,0.041226,0.007006,0.006864,0.007259,gini,sqrt,10,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.985075,0.956522,0.968750,0.927536,0.985075,0.964591,0.021423,11
3,0.467703,0.059231,0.039815,0.005106,gini,sqrt,100,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.985075,0.971429,0.984615,0.985075,1.000000,0.985239,0.009045,1
4,0.055319,0.007092,0.013732,0.003797,gini,log2,10,"{'criterion': 'gini', 'max_features': 'log2', ...",0.969697,0.971429,0.952381,0.985075,0.985075,0.972731,0.012081,8
5,0.526815,0.005891,0.031345,0.000163,gini,log2,100,"{'criterion': 'gini', 'max_features': 'log2', ...",0.969697,0.971429,0.952381,0.969697,0.985075,0.969656,0.010386,9
6,0.058178,0.006949,0.009778,0.005927,entropy,auto,10,"{'criterion': 'entropy', 'max_features': 'auto...",0.969697,0.957746,0.935484,0.985075,1.000000,0.969600,0.022217,10
7,0.539303,0.007585,0.036455,0.006324,entropy,auto,100,"{'criterion': 'entropy', 'max_features': 'auto...",0.985075,0.957746,0.952381,0.985075,1.000000,0.976055,0.018065,6
8,0.050093,0.006429,0.009062,0.005942,entropy,sqrt,10,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.969697,0.957746,0.968750,0.985075,0.985075,0.973269,0.010515,7
9,0.530181,0.003693,0.037598,0.007765,entropy,sqrt,100,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.985075,0.971429,0.968750,0.969697,1.000000,0.978990,0.012057,5
10,0.056521,0.012653,0.012501,0.006251,entropy,log2,10,"{'criterion': 'entropy', 'max_features': 'log2...",0.985075,0.971429,0.968750,0.985075,1.000000,0.982066,0.011227,2
11,0.469719,0.027450,0.028541,0.006513,entropy,log2,100,"{'criterion': 'entropy', 'max_features': 'log2...",0.985075,0.971429,0.968750,0.985075,1.000000,0.982066,0.011227,2

In [19]:

from sklearn.metrics import f1_score
f1_macro=f1_score(y_test,grid_predictions,average='weighted')
print("The f1_macro value for best parameter {}:".format(grid.best_params_),f1_macro)

The f1_macro value for best parameter {'criterion': 'gini', 'max_features': 'sqrt', 'n_estimators': 100}: 0.9849624060150376

In [20]:
print("The confusion Matrix:\n",cm)

The confusion Matrix:
 [[50  1]
 [ 1 81]]

In [21]:
print("The report:\n",clf_report)

The report:
               precision    recall  f1-score   support

           0       0.98      0.98      0.98        51
           1       0.99      0.99      0.99        82

    accuracy                           0.98       133
   macro avg       0.98      0.98      0.98       133
weighted avg       0.98      0.98      0.98       133

In [22]:
table_pr=pd.DataFrame()

In [23]:
print(X_test)

           age     bp   al   su         bgr    bu   sc         sod       pot  \
132  46.000000   70.0  0.0  0.0  100.000000  47.0  0.5  142.000000  3.500000
309  66.000000   90.0  2.0  0.0  153.000000  76.0  3.3  137.528754  4.627244
334  69.000000   70.0  0.0  0.0   83.000000  42.0  1.2  139.000000  3.700000
196  55.000000  100.0  1.0  4.0  297.000000  53.0  2.8  139.000000  4.500000
246  60.000000   90.0  2.0  0.0  105.000000  53.0  2.3  136.000000  5.200000
..         ...    ...  ...  ...         ...   ...  ...         ...       ...
349  71.000000   70.0  0.0  0.0   81.000000  18.0  0.8  145.000000  5.000000
168  50.000000   80.0  0.0  0.0  137.000000  46.0  0.8  139.000000  5.000000
150  48.000000  100.0  0.0  0.0  103.000000  79.0  5.3  135.000000  6.300000
392  51.492308   60.0  3.0  0.0  148.112676  34.0  1.2  137.528754  4.627244
66   34.000000   60.0  0.0  0.0   91.000000  49.0  1.2  135.000000  4.500000

          hrmo  ...  ba_present        pcv            wc        rc  htn_yes  \
132  16.400000  ...           0  43.000000   5700.000000  6.500000        0
309  12.518156  ...           1  38.868902   8408.191126  4.705597        0
334  16.200000  ...           0  50.000000   9300.000000  5.400000        0
196  11.200000  ...           0  34.000000  13600.000000  4.400000        1
246  11.100000  ...           0  33.000000  10500.000000  4.100000        0
..         ...  ...         ...        ...           ...       ...      ...
349  14.700000  ...           0  44.000000   9800.000000  6.000000        0
168  14.100000  ...           0  45.000000   9500.000000  4.600000        0
150   6.300000  ...           0  19.000000   7200.000000  2.600000        1
392  10.800000  ...           0  33.000000   8408.191126  4.705597        0
66   13.500000  ...           0  48.000000   8600.000000  4.900000        0

     dm_yes  cad_yes  appet_yes  pe_yes  ane_yes
132       0        0          1       0        0
309       0        0          0       0        0
334       0        0          1       0        0
196       1        0          1       0        0
246       0        0          1       0        0
..      ...      ...        ...     ...      ...
349       0        0          1       0        0
168       0        0          1       0        0
150       0        1          0       0        0
392       0        0          1       0        0
66        0        0          1       0        0

[133 rows x 23 columns]

In [24]:
table_pr['age']=X_test["age"]
table_pr['bp']=X_test["bp"]
table_pr['al']=X_test["al"]
table_pr['su']=X_test["su"]
table_pr['bgr']=X_test["bgr"]
table_pr['bu']=X_test["bu"]
table_pr['sc']=X_test["sc"]
table_pr['sod']=X_test["sod"]
table_pr['pot']=X_test["pot"]
table_pr['hrmo']=X_test["hrmo"]
table_pr['rbc_normal']=X_test["rbc_normal"]
table_pr['pc_normal']=X_test["pc_normal"]
table_pr['pcc_present']=X_test["pcc_present"]
table_pr['ba_present']=X_test["ba_present"]
table_pr['pcv']=X_test["pcv"]
table_pr['wc']=X_test["wc"]
table_pr['rc']=X_test["rc"]
table_pr['htn_yes']=X_test["htn_yes"]
table_pr['dm_yes']=X_test["dm_yes"]
table_pr['cad_yes']=X_test["cad_yes"]
table_pr['appet_yes']=X_test["appet_yes"]
table_pr['pe_yes']=X_test["pe_yes"]
table_pr['ane_yes']=X_test["ane_yes"]
table_pr['Actual']=y_test
table_pr['Predicted']=grid_predictions

In [25]:
table_pr.head(134)

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,wc,rc,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes,Actual,Predicted
132,46.000000,70.0,0.0,0.0,100.000000,47.0,0.5,142.000000,3.500000,16.400000,...,5700.000000,6.500000,0,0,0,1,0,0,0,0
309,66.000000,90.0,2.0,0.0,153.000000,76.0,3.3,137.528754,4.627244,12.518156,...,8408.191126,4.705597,0,0,0,0,0,0,1,1
334,69.000000,70.0,0.0,0.0,83.000000,42.0,1.2,139.000000,3.700000,16.200000,...,9300.000000,5.400000,0,0,0,1,0,0,0,0
196,55.000000,100.0,1.0,4.0,297.000000,53.0,2.8,139.000000,4.500000,11.200000,...,13600.000000,4.400000,1,1,0,1,0,0,1,1
246,60.000000,90.0,2.0,0.0,105.000000,53.0,2.3,136.000000,5.200000,11.100000,...,10500.000000,4.100000,0,0,0,1,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
349,71.000000,70.0,0.0,0.0,81.000000,18.0,0.8,145.000000,5.000000,14.700000,...,9800.000000,6.000000,0,0,0,1,0,0,0,0
168,50.000000,80.0,0.0,0.0,137.000000,46.0,0.8,139.000000,5.000000,14.100000,...,9500.000000,4.600000,0,0,0,1,0,0,0,0
150,48.000000,100.0,0.0,0.0,103.000000,79.0,5.3,135.000000,6.300000,6.300000,...,7200.000000,2.600000,1,0,1,0,0,0,1,1
392,51.492308,60.0,3.0,0.0,148.112676,34.0,1.2,137.528754,4.627244,10.800000,...,8408.191126,4.705597,0,0,0,1,0,0,1,1
66,34.000000,60.0,0.0,0.0,91.000000,49.0,1.2,135.000000,4.500000,13.500000,...,8600.000000,4.900000,0,0,0,1,0,0,0,0

In [26]:
table_pr.to_csv("cm_rf.csv",index=False)

In [27]:
dataset.loc[X_test.index, 'Predicted'] = grid_predictions

In [28]:
age=float(input("age:"))
bp=float(input("bp:"))
al=float(input("al:"))
su=float(input("su:"))
bgr=float(input("bgr:"))
bu=float(input("bu:"))
sc=float(input("sc:"))
sod=float(input("sod:"))
pot=float(input("pot:"))
hrmo=float(input("hrmo:"))
rbc_normal=int(input("rbc_normal 1 or 0:"))
pc_normal=int(input("pc_normal 1 or 0:"))
pcc_present=int(input("pcc_present 1 or 0:"))
ba_present=int(input("ba_present 1 or 0:"))
pcv=float(input("pcv:"))
wc=float(input("wc:"))
rc=float(input("rc:"))
htn_yes=int(input("htn_yes 1 or 0:"))
dm_yes=int(input("dm_yes 1 or 0:"))
cad_yes=int(input("cad_yes 1 or 0:"))
appet_yes=int(input("appet_yes 1 or 0:"))
pe_yes=int(input("pe_yes 1 or 0:"))
ane_yes=int(input("ane_yes 1 or 0:"))

age: 40.10
bp: 65.00
al: 0.00
su: 0.00
bgr: 219.00
bu: 36.00
sc: 1.3
sod: 139.00
pot: 3.7
hrmo: 12.5
rbc_normal 1 or 0: 1
pc_normal 1 or 0: 1
pcc_present 1 or 0: 0
ba_present 1 or 0: 0
pcv: 37.00
wc: 4800.00
rc: 4.4
htn_yes 1 or 0: 0
dm_yes 1 or 0: 0
cad_yes 1 or 0: 0
appet_yes 1 or 0: 0
pe_yes 1 or 0: 1
ane_yes 1 or 0: 1

In [29]:
Future_Prediction=grid.predict([[age, bp,al,su,bgr,bu,sc,sod,pot,hrmo,rbc_normal,pc_normal,pcc_present,ba_present,pcv,wc,rc,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes]])# change the paramter,play with it.
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[1]